@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
  background-color: #1e1e1e;
  font-family: "Courier Prime",'mono space';
  color:white;
}
header button {
  flex-grow: 1;
  font-family: "Courier Prime",'mono space';
  border: 2px solid #1A1A1A;
  background-color: transparent;
}

.numbox {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}
div {
  display: flex;
  justify-content: center;
}
section.numbox button {
  flex-direction: row;
  flex: 33%;
  flex-grow: 1;
  font-family: "Courier Prime",'mono space';
  appearance: none;
  background-color: #aaa;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  width: 1000px;
  flex-wrap: wrap;
}

section.numbox button:disabled {
  pointer-events: none;
}

section.numbox button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  
}

section.numbox button:active {
  box-shadow: none;
  transform: translateY(0);
}



.questionDiv {
  width: 15%;
  padding-top: 15%;
  margin: auto;
  display: flex;
  position: relative;
}

.calc {
  text-align: left;
  width: 49%;
  position:absolute;
    bottom:20%;
    left:0;
}

.question {
  text-align: right;
  width: 49%;
  position:absolute;
    bottom:20%;
    right:0;
}

span {
  height: 0.2rem;
  width: 100%;
  background-color: wheat;
  border-radius: 1000px;
  margin: 0 20px;
  display: block;
  position:absolute;
  bottom:22%;
}
.answerBox {
  text-align: left;
  position:absolute;
  bottom:0;
  left:0;
}

.answerGuess {
  text-align: left;
  position:absolute;
    bottom:0;
    right:0;
}