/* Free google font import */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
  background-color: #1e1e1e;
  font-family: "Courier Prime",'mono space';
  flex-grow: 1;
  font-family: "Courier Prime",'mono space';
  border: 2px solid #1A1A1A;
  background-color: transparent;
}



div {
  display: flex;
  justify-content: center;
}




.questionDiv {
  width: 15%;
  padding-top: 15%;
  margin: auto;
  display: flex;
  position: relative;
}

.calc {
  text-align: left;
  width: 49%;
  position:absolute;
    bottom:20%;
    left:0;
}

.question {
  text-align: right;
  width: 49%;
  position:absolute;
    bottom:20%;
    right:0;
}

span {
  height: 0.2rem;
  width: 100%;
  background-color: wheat;
  border-radius: 1000px;
  margin: 0 20px;
  display: block;
  position:absolute;
  bottom:22%;
}
.answerBox {
  text-align: left;
  position:absolute;
  bottom:0;
  left:0;
}

.answerGuess {
  text-align: left;
  position:absolute;
    bottom:0;
    right:0;
}

